if SHIELD_5DEG_LEFT

config ZMK_KEYBOARD_NAME
	default "5deg"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

endif # SHIELD_5DEG_LEFT

if SHIELD_5DEG_LEFT || SHIELD_5DEG_RIGHT

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

endif # SHIELD_5DEG_LEFT || SHIELD_5DEG_RIGHT

if SHIELD_5DEG_RIGHT

config ZMK_SPLIT_BLE_PERIPHERAL_POSITION_QUEUE_SIZE
	default 32

endif # SHIELD_5DEG_RIGHT
